/** @format */

:root {
	--white: #ffffff;
	--light-gray: #f4f4f4;
	--black: #000000;
	--beige: #fbe3dd;
	--yellow: #f4ed5e;
	--light-red: #ff7a7e;
	--hot-pink: #f70072;
	--pink: #ff7ee0;
	--purple: #8332b8;
	--mint: #61d5ba;
	--green: #006f6e;
}

/* mobile breakpoint */

.cs-navbar {
	background-color: var(--light-gray);
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	height: 66px;
}

.cs-logo {
	font-weight: bold;
	font-size: 24px;
}

.cs-logo:hover {
	cursor: pointer;
}

.cs-logo-clr-1 {
	color: var(--purple);
}

.cs-logo-clr-2 {
	color: var(--hot-pink);
}

.cs-nav-items-desktop {
	display: none;
}

.cs-nav-item {
	font-weight: bold;
	font-size: 24px;
	padding: 0 20px;
	color: var(--black);
}

.cs-nav-item:hover {
	cursor: pointer;
	color: var(--hot-pink);
}

/* desktop breakpoint */
@media only screen and (min-width: 992px) {
	.cs-logo {
		font-size: 30px;
	}
	.cs-nav-items-mobile {
		display: none;
	}

	.cs-nav-items-desktop {
		display: inline;
	}

	#nav-dropdown-algorithms {
		margin-left: auto;
		margin-right: 40px;
		background-color: var(--white);
		box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.25);
		border-radius: 22px;
		width: 575px;
		height: 300px;
		display: none;
	}

	.cs-nav-dropdown-algorithms-section {
		width: 50%;
		padding: 50px;
	}

	.cs-nav-dropdown-header {
		font-weight: bold;
	}

	.cs-nav-dropdown-item:hover {
		color: var(--purple);
		cursor: pointer;
	}

	#nav-dropdown-comparison {
		margin-left: auto;
		margin-right: 220px;
		background-color: var(--white);
		box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.25);
		border-radius: 22px;
		width: 200px;
		height: 150px;
		display: none;
	}

	.cs-nav-dropdown-comparison-section {
		padding: 35px;
		display: flex;
		flex-direction: column;
	}

	#nav-dropdown-changelog {
		display: none;
	}

	#nav-dropdown-changelog-overlay {
		position: absolute;
		top: 66px;
		left: 0;
		bottom: 0;
		right: 400px;
		height: calc(100vh - 66px);
		width: calc(100vw - 400px);
		background-color: rgba(105, 112, 119, 0.5);
	}

	#nav-dropdown-changelog-container {
		margin-left: auto;
		margin-right: 0;
		background-color: var(--white);
		width: 400px;
		height: calc(100vh - 66px);
	}

	.cs-nav-dropdown-changelog-section {
		padding: 35px;
	}

	.cs-navbar-icon-rotate {
		animation-name: rotate;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(180deg);
		}
	}
}
